html
div.mainheader
	block content
	div(id="body")
		each item, index in items
			if (index === 1)
				h1 The overall student sessions for #{item.teacher}
			
div.sessionCount
	each item, index in items
		if (index+1 === items.length)
			li Below is the total number of student sessions:
			li=items.length

div.tablebody
		block content
		table(border='6')
			thead
				link(href="/css/style.css", rel="stylesheet", type="text/css")

				tr
					th Name
					th Class
					th TimeIn
					th Teacher
					th TimeOut
					th Student Comment

				tbody 
					each item in items
						tr
							td=item.sName + ' '
							td=item.class + ' '
							td=item.timeIn +' '
							td=item.teacher + ' '
							td=item.timeOut +' '
							td=item.sComment + ' '
							script(type='text/javascript').
								console.log("hello")
	//each item, index in items
		//li=item.timeIn +'....'+ item.timeOut
	

								
									